.slides-list-item {
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  padding-left: 10px;
}

.slide-number {
  font-family: 'Roboto';
  font-size: 18px;
}

.slide-tab {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 125px;
  font-family: 'Bree Serif';
  border-radius: 8px;
  margin: 12px 25px 12px 14px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.tab-heading {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #0967d2;
  font-weight: 500;
}

.tab-description {
  font-family: 'Bree Serif';
  font-size: 16px;
}

.active {
  background-color: #dbeafe;
}
