.nav-header {
  background-color: #dbeafe;
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 98%;
  display: flex;
  align-items: center;
}

.nxt-slides-logo {
  width: 50px;
}

.nav-heading {
  font-family: 'Bree Serif';
  font-size: 24px;
  color: #0f172a;
  font-weight: 500;
  margin-left: 15px;
}
